<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <!-- Sign up -->
    <h2>Sign up</h2>
    <form action="/signup" method="post" id="sign-up">
      <input
        type="email"
        name="email"
        id="sign-up-email"
        placeholder="Email..."
        autocomplete="on"
        required
      />
      <input
        type="password"
        name="password"
        id="sign-up-password"
        placeholder="Password..."
        autocomplete="on"
        required
      />
      <button class="submit-btn" type="submit">Sign up</button>
    </form>
    <div id="sign-up-error" class="error-msg"><%= locals.error_msg || null %></div>

    <!-- Sign in -->
    <h2>Sign in</h2>
    <form action="/signin" method="post" id="sign-in">
      <input
        type="email"
        name="email"
        id="sign-in-email"
        placeholder="Email..."
        autocomplete="on"
        required
      />
      <input
        type="password"
        name="password"
        id="sign-in-password"
        placeholder="Password..."
        autocomplete="on"
        required
      />
      <button class="submit-btn" type="submit">Sign in</button>
    </form>
    <div id="sign-in-error" class="error-msg"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    <!-- client js -->
    <script>
      //Response Error
      const signUpError = document.getElementById('sign-up-error');
      const signInError = document.getElementById('sign-in-error');
      //Sign up data
      const signUpEmail = document.getElementById('sign-up-email');
      const signUpPassword = document.getElementById('sign-up-password');
      //Sign in data
      const signInEmail = document.getElementById('sign-in-email');
      const signInPassword = document.getElementById('sign-in-password');

      //Button prevent default
      const btn = document.getElementsByClassName('submit-btn');
      Array.from(btn).forEach((item) => {
        item.addEventListener('submit', (e) => {
          e.preventDefault();
        });
      });

      //Submit to Sign up
      const signUp = document.getElementById('sign-up');
      signUp.addEventListener('submit', (e) => {
        //練習 XML Post method
        // const xhr = new XMLHttpRequest();
        // xhr.onreadystatechange = function () {
        //   if (this.readyState == 4 && this.status == 200) {
        //     signUpError.innerHTML = this.responseText;
        //   }
        // };
        // xhr.open('POST', '/signup', true);
        // xhr.send((email = signUpEmail.value), (password = signUpPassword.value));

        // axios Sign up request
        axios({
          method: 'POST',
          url: '/signup',
          // headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          // headers: { 'Content-Type': 'application/json' },
          data: {
            email: signUpEmail.value,
            password: signUpPassword.value,
          },
        })
          .then((response) => {
            console.log(response);
            // 如果成功則redirect to http://localhost:3000/member
            if (response.request.responseURL === 'http://localhost:3000/member') {
              window.location.href = '/member';
            } else {
              // 如果失敗則在Sign up 欄位下顯示error原因
              signUpError.innerHTML = response.data;
            }
          })
          .catch((error) => console.log(error));
        e.preventDefault();
      });

      //Submit to Sign in
      const signIn = document.getElementById('sign-in');
      signIn.addEventListener('submit', (e) => {
        axios({
          method: 'post',
          url: '/signin',
          // headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          data: {
            email: signInEmail.value,
            password: signInPassword.value,
          },
        })
          .then((response) => {
            console.log(response);
            console.log(response.request.responseURL);
            // 如果成功則redirect to http://localhost:3000/member
            if (response.request.responseURL === 'http://localhost:3000/member') {
              window.location.href = '/member';
            } else {
              // 如果失敗則在Sign in 欄位下顯示error原因
              signInError.innerHTML = response.data;
            }
          })
          .catch((error) => console.log(error));

        // 使用form作為Semantic HTML但要prevent預設的submit動作
        e.preventDefault();
      });
    </script>
  </body>
</html>
